<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}} preview powered by The Massassi Temple</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <style>
        .info {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            text-align: center;
            z-index: 2;
            color: #cccccc;
            user-select: none;
            visibility: hidden;
            opacity: 0;
            transition: 1s opacity;
            cursor: default;
        }

        #mapinfo {
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 33%;
            padding: 10px;
            box-sizing: border-box;
            text-align: right;
            z-index: 3;
            color: #cccccc;
            user-select: none;
            visibility: hidden;
        }

        #mapinfo a {
            color: #cccccc;
        }

        #mapinfo ul {
            list-style: none;
            margin: 0;
        }

        #mapinfo p {
            cursor: default;
            margin: 0;
        }

        #tools {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 50%;
            padding: 10px;
            box-sizing: border-box;
            text-align: left;
            z-index: 3;
            color: #cccccc;
            user-select: none;
            visibility: hidden;
        }

        #tools span {
            cursor: pointer;
        }

        #spawninfo {
            display: none;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@v0.168.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.168.0/examples/jsm/"
      }
    }
    </script>
    <script type="x-shader/x-vertex" id="skyvs">
    varying vec4 vPos;

    void main() {
        vPos = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
        gl_Position = vPos;
    }
    </script>
    <script type="x-shader/x-fragment" id="skyfs">
    uniform sampler2D u_texture;
    uniform mat4 u_inverseProjectionViewMatrix;
    varying vec4 vPos;

    void main() {
        vec4 pos = u_inverseProjectionViewMatrix * vPos;
        vec3 d = pos.xyz - cameraPosition;
        // triplanar mapping of a flattenen ball
        d.z *= 4.0;
        vec3 uvw = normalize(d);
        vec3 auvw = abs(uvw);
        vec3 s = auvw / (auvw.x + auvw.y + auvw.z);
        vec4 a = texture2D(u_texture, uvw.xy);
        vec4 b = texture2D(u_texture, uvw.yz);
        vec4 c = texture2D(u_texture, uvw.zx);
        gl_FragColor = a * s.z + b * s.x + c * s.y;
    }
    </script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <div id="progress"></div>
    <div id="mouseinfo" class="info">
        <b>{{title}}</b><br>
        Rotate: left drag. Move: right drag. Zoom: wheel (hold Alt to zoom fast). Re-anchor: double-click.
    </div>
    <div id="mouseinfofps" class="info">
        <b>{{title}}</b><br>
        Look around: left drag. Move: wheel.
    </div>
    <div id="touchinfo" class="info">
        <b>{{title}}</b><br>
        Rotate: drag. Move: two-finger drag. Zoom: pinch.
    </div>
    <div id="touchinfofps" class="info">
        <b>{{title}}</b><br>
        Look around: drag.
    </div>
    <div id="mapinfo">
        <p><label for="mapinfolist">Maps:</label></p>
        <select id="mapinfolist" class="select-css"></select>
    </div>
    <div id="tools">
        <span id="spawninfo">
            <span id="spawn" class="material-symbols-outlined md-32" title="Jump into map">emoji_people</span>
            <span id="showwholemap" class="material-symbols-outlined md-32" title="Explore from high above">globe</span>
        </span>
        <span id="togglewireframe" class="material-symbols-outlined md-32"
            title="Toggle solid/wireframe">deployed_code</span>
    </div>

    <script src="{{ url_for('static', filename='js/progressbar.min.js') }}"></script>

    <script type="module">
        import * as THREE from 'three';
        import { GLTFLoader } from 'three/addons/loaders/GLTFLoader.js';
        {% if gltfpacked %}import { MeshoptDecoder } from 'three/addons/libs/meshopt_decoder.module.js';{% endif %}
        import { OrbitControls } from 'three/addons/controls/OrbitControls.js';

        var isTouchDevice = (('ontouchstart' in window)
            || (navigator.MaxTouchPoints > 0)
            || (navigator.msMaxTouchPoints > 0));

        var maps = JSON.parse({{ maps | tojson | safe }});
        if (maps.length > 1) {
            var mapinfoList = document.getElementById('mapinfolist');
            for (var i = 0; i < maps.length; ++i) {
                var name_and_link = maps[i];
                var opt = document.createElement("option");
                opt.value = name_and_link[1];
                opt.text = name_and_link[0];
                if (window.location.search == opt.value) {
                    opt.selected = true;
                }
                mapinfoList.add(opt);
            }
            mapinfoList.onchange = function () {
                window.location.href = mapinfoList.value;
            }
        }

        var spawnPoints = JSON.parse({{ spawn_points | tojson | safe }});
        var nextSpawnPoint = 0;

        var camera, controls, fpsControls, scene, renderer, mesh, skyMesh;
        var fpsControlsScale = 0.0001;
        var infos = ['touchinfo', 'touchinfofps', 'mouseinfo', 'mouseinfofps'];
        var lastInfoFadeTimeout;
        var inverseProjectionViewMatrix = new THREE.Matrix4();
        var wireframe = false;

        function showControlsInfo() {
            // show platform-specific info about controls and fade out after 5 seconds
            var selectedInfo = isTouchDevice ? 'touchinfo' : 'mouseinfo';
            if (!controls.enabled) selectedInfo += 'fps';
            for (var i = 0; i < infos.length; ++i) {
                if (infos[i] == selectedInfo) continue;
                var info = document.getElementById(infos[i]);
                info.style.visibility = 'hidden';
                info.style.opacity = '0';
            }
            if (lastInfoFadeTimeout) {
                window.clearTimeout(lastInfoFadeTimeout);
            }

            var info = document.getElementById(selectedInfo);
            info.style.opacity = '100';
            info.style.visibility = 'visible';
            lastInfoFadeTimeout = window.setTimeout(function () {
                info.style.opacity = '0';
            }, 5000);
        }

        function showInfo() {
            showControlsInfo();

            if (maps.length > 1) {
                document.getElementById('mapinfo').style.visibility = 'visible';
            }

            if (spawnPoints && spawnPoints.length > 0) {
                document.getElementById('spawn').onclick = function () {
                    spawn();
                    showControlsInfo();
                };
                document.getElementById('showwholemap').onclick = function () {
                    showWholeMap();
                    showControlsInfo();
                };
                document.getElementById('spawninfo').style.display = 'inline';
            }

            document.getElementById('togglewireframe').onclick = function () {
                toggleWireframe();
            };
            document.getElementById('tools').style.visibility = 'visible';
        }

        function toggleWireframe() {
            wireframe = !wireframe;
            scene.traverse(function (object) {
                if (object instanceof THREE.Mesh) {
                    object.material.wireframe = wireframe;
                }
            });
            animate();
        }

        var progress = new ProgressBar.SemiCircle('#progress', {
            color: '#ccc',
            text: {
                autoStyleContainer: false,
            },
        });

        function hideProgress() {
            var progressContainer = document.getElementById('progress');
            progressContainer.parentNode.removeChild(progressContainer);
        }

        function mapLoadProgress(frac) {
            return 0.3 + frac * 0.7;
        }

        function showWholeMap() {
            fpsControls.enabled = false;
            var bb = new THREE.Box3().setFromObject(mesh);
            var center = new THREE.Vector3();
            bb.getCenter(center);
            camera.position.copy(bb.max);
            controls.target.copy(center);
            controls.enabled = true;
            controls.update();
            if (skyMesh) skyMesh.visible = false;
            clearTarget();
            animate();
        }

        function spawn() {
            controls.enabled = false;
            var spawnPoint = spawnPoints[nextSpawnPoint];
            nextSpawnPoint = (nextSpawnPoint + 1) % spawnPoints.length;
            var pos = spawnPoint['pos'];
            var rot = spawnPoint['rot'];
            var angle = -rot[1] * Math.PI / 180.0;
            var dir = [Math.sin(angle) * fpsControlsScale, Math.cos(angle) * fpsControlsScale, 0];
            var offsetZ = 1 / 16;
            camera.position.copy(new THREE.Vector3(pos[0], pos[1], pos[2] + offsetZ));
            fpsControls.target.copy(new THREE.Vector3(pos[0] + dir[0], pos[1] + dir[1], pos[2] + offsetZ + dir[2]));
            fpsControls.enabled = true;
            fpsControls.update();
            if (skyMesh) skyMesh.visible = true;
            clearTarget();
            animate();
        }

        var progressDone = false;
        progress.setText("Loading ...");
        progress.animate(0);
        init();

        progress.animate(mapLoadProgress(0));
        const loader = new GLTFLoader();
        {% if gltfpacked %} loader.setMeshoptDecoder(MeshoptDecoder); {% endif %}
        loader.load('{{ map_glb|safe }}',
            function (gltf) {
                loadMap(gltf);
            },
            (ev) => {
                if (ev.lengthComputable) {
                    progress.animate(mapLoadProgress(ev.loaded / ev.total));
                }
            },
            (error) => {
                progress.setText("Loading failed.");
                progress.animate(1);
                console.log(error);
            }
        );

        function loadMap(gltf) {
            mesh = gltf.scene.children[0];

            if (gltf.scene.children.length > 1) {
                skyMesh = gltf.scene.children[1];
                skyMesh.visible = false;

                var skyVertexShader = document.getElementById('skyvs').textContent;
                var skyFragmentShader = document.getElementById('skyfs').textContent;
                skyMesh.traverse(function (object) {
                    if (object instanceof THREE.Mesh) {
                        var tex = object.material.map;
                        object.material = new THREE.ShaderMaterial({
                            vertexShader: skyVertexShader,
                            fragmentShader: skyFragmentShader,
                            uniforms: {
                                u_texture: { type: 't', value: tex },
                                u_inverseProjectionViewMatrix: { value: inverseProjectionViewMatrix }
                            },
                        });
                    }
                });
            }

            scene.add(gltf.scene);

            showWholeMap();

            // render the first frame with the mesh
            animate();

            // enable user interaction now
            controls.addEventListener('change', animate);
            fpsControls.addEventListener('change', animate);
            document.addEventListener('dblclick', onDblClick, false);

            progress.animate(1, function () {
                progress.setText("Done!");
                window.setTimeout(function () {
                    progressDone = true;
                    animate(); // rerender
                }, 400);
            });
        }

        function debounce(callback, timeout) {
            var timer;
            return (...args) => {
                window.clearTimeout(timer);
                timer = window.setTimeout(() => {
                    callback(...args);
                }, timeout);
            };
        }

        function init() {
            scene = new THREE.Scene();
            scene.background = new THREE.Color(0x444444);

            renderer = new THREE.WebGLRenderer({ antialias: true });
            renderer.setPixelRatio(window.devicePixelRatio);
            renderer.setSize(window.innerWidth, window.innerHeight);
            document.body.appendChild(renderer.domElement);

            camera = new THREE.PerspectiveCamera(70, window.innerWidth / window.innerHeight, 0.01, 1000);
            camera.up.set(0, 0, 1);
            scene.add(camera);

            controls = new OrbitControls(camera, renderer.domElement);
            controls.enableKeys = false;
            controls.rotateSpeed = 0.25;
            controls.zoomSpeed = 0.5;

            fpsControls = new OrbitControls(camera, renderer.domElement);
            fpsControls.enableKeys = false;
            fpsControls.rotateSpeed = 0.5;
            fpsControls.enableZoom = false;
            fpsControls.enabled = false;

            if (!isTouchDevice) {
                // alt held speeds up zooming
                window.addEventListener("keyup", function (ev) {
                    if (ev.key == 'Alt') controls.zoomSpeed = 0.5;
                });
                window.addEventListener("keydown", function (ev) {
                    if (ev.key == 'Alt') controls.zoomSpeed = 2;
                });
                // allow movement by scrolling the mouse up/down for fpsControls
                renderer.domElement.addEventListener("wheel", function (ev) {
                    if (!fpsControls.enabled) return;
                    var zoomSpeed = 0.0025;
                    const forward = new THREE.Vector3();
                    camera.getWorldDirection(forward);
                    camera.position.add(forward.clone().multiplyScalar(-ev.deltaY * zoomSpeed));
                    fpsControls.target.copy(camera.position.clone().add(forward.clone().multiplyScalar(fpsControlsScale)));
                    fpsControls.update();
                    ev.preventDefault();
                });
            }

            window.addEventListener('resize', onWindowResize, false);

            // render the first frame
            animate();
        }

        function onWindowResize() {
            var width = window.innerWidth;
            var height = window.innerHeight;
            camera.aspect = width / height;
            camera.updateProjectionMatrix();
            renderer.setSize(width, height);
            animate();
        }

        var nextTarget = null;
        var scheduled = 0;
        function doUpdateTarget() {
            const maxDist = 5;

            if (nextTarget == null) {
                return;
            }

            var doneTarget = false, donePos = false;

            var delta = new THREE.Vector3;
            delta.subVectors(nextTarget, controls.target);
            if (delta.length() > 0.2) {
                delta.setLength(0.2);
            }
            else {
                doneTarget = true;
            }
            controls.target.add(delta);

            delta.subVectors(nextTarget, camera.position);
            if (delta.length() > maxDist) {
                delta.setLength(0.1);
                camera.position.add(delta);
            }
            else {
                donePos = true;
            }

            controls.update();
            animate();

            if (doneTarget && donePos) {
                nextTarget = null;
            }
            else {
                if (scheduled == 0) {
                    ++scheduled;
                    window.setTimeout(scheduledMoveToTarget, 10);
                }
            }
        }

        function scheduledMoveToTarget() {
            --scheduled;
            doUpdateTarget();
        }

        function updateTarget(pos) {
            if (!controls.enabled) return;
            nextTarget = pos;
            doUpdateTarget();
        }

        function clearTarget() {
            nextTarget = null;
        }

        function onDblClick(event) {
            var x = (event.clientX / window.innerWidth) * 2 - 1;
            var y = -(event.clientY / window.innerHeight) * 2 + 1;
            var dir = new THREE.Vector3(x, y, -1)
            dir.unproject(camera)

            var ray = new THREE.Raycaster(camera.position, dir.sub(camera.position).normalize())
            var intersects = ray.intersectObject(mesh);
            if (intersects.length > 0) {
                var first = intersects[0];
                updateTarget(first.point);
            }
        }

        function animate() {
            requestAnimationFrame(render);
        }

        function render() {
            if (progressDone) {
                progressDone = false;
                hideProgress();
                showInfo();
            }
            inverseProjectionViewMatrix.copy(camera.projectionMatrix);
            inverseProjectionViewMatrix.multiply(camera.matrixWorldInverse);
            inverseProjectionViewMatrix.invert();
            renderer.render(scene, camera);
        }
    </script>

</body>

</html>