<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}} preview powered by The Massassi Temple</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <style>
        .info {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            text-align: center;
            z-index: 2;
            color: #cccccc;
            user-select: none;
            visibility: hidden;
            opacity: 0;
            transition: 1s opacity;
            cursor: default;
        }

        #mapinfo {
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 33%;
            padding: 10px;
            box-sizing: border-box;
            text-align: right;
            z-index: 3;
            color: #cccccc;
            user-select: none;
            visibility: hidden;
        }

        #mapinfo a {
            color: #cccccc;
        }

        #mapinfo ul {
            list-style: none;
            margin: 0;
        }

        #mapinfo p {
            cursor: default;
            margin: 0;
        }

        #tools {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 50%;
            padding: 10px;
            box-sizing: border-box;
            text-align: left;
            z-index: 3;
            color: #cccccc;
            user-select: none;
            visibility: hidden;
        }

        #tools span {
            cursor: pointer;
        }

        #spawninfo {
            display: none;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@v0.168.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.168.0/examples/jsm/"
      }
    }
    </script>
    <script type="x-shader/x-vertex" id="skyvs">
    varying vec4 vPos;

    void main() {
        vPos = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
        gl_Position = vPos;
    }
    </script>
    <script type="x-shader/x-fragment" id="skyfs">
    uniform sampler2D u_texture;
    uniform mat4 u_inverseProjectionViewMatrix;
    varying vec4 vPos;

    void main() {
        vec4 pos = u_inverseProjectionViewMatrix * vPos;
        vec3 d = pos.xyz - cameraPosition;
        // triplanar mapping of a flattenen ball
        d.z *= 4.0;
        vec3 uvw = normalize(d);
        vec3 auvw = abs(uvw);
        vec3 s = auvw / (auvw.x + auvw.y + auvw.z);
        vec4 a = texture2D(u_texture, uvw.xy);
        vec4 b = texture2D(u_texture, uvw.yz);
        vec4 c = texture2D(u_texture, uvw.zx);
        gl_FragColor = a * s.z + b * s.x + c * s.y;
    }
    </script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <div id="progress"></div>
    <div id="mouseinfo" class="info">
        <b>{{title}}</b><br>
        Rotate: left drag. Move: right drag. Zoom: wheel (hold Alt to zoom fast). Re-anchor: double-click.
    </div>
    <div id="mouseinfofps" class="info">
        <b>{{title}}</b><br>
        Look around: left drag. Move: wheel.
    </div>
    <div id="touchinfo" class="info">
        <b>{{title}}</b><br>
        Rotate: drag. Move: two-finger drag. Zoom: pinch.
    </div>
    <div id="touchinfofps" class="info">
        <b>{{title}}</b><br>
        Look around: drag.
    </div>
    <div id="mapinfo">
        <p><label for="mapinfolist">Maps:</label></p>
        <select id="mapinfolist" class="select-css"></select>
    </div>
    <div id="tools">
        <span id="spawninfo">
            <span id="spawn" class="material-symbols-outlined md-32" title="Jump into map">emoji_people</span>
            <span id="showwholemap" class="material-symbols-outlined md-32" title="Explore from high above">globe</span>
        </span>
        <span id="togglewireframe" class="material-symbols-outlined md-32"
            title="Toggle solid/wireframe">deployed_code</span>
    </div>

    <script src="{{ url_for('static', filename='js/progressbar.min.js') }}"></script>

    <script type="module">
        import * as THREE from 'three';
        import { GLTFLoader } from 'three/addons/loaders/GLTFLoader.js';
        {% if gltfpacked %}
        import { KTX2Loader } from "three/addons/loaders/KTX2Loader.js";
        import { MeshoptDecoder } from 'three/addons/libs/meshopt_decoder.module.js';
        {% endif %}
        import { OrbitControls } from 'three/addons/controls/OrbitControls.js';

        var isTouchDevice = (('ontouchstart' in window)
            || (navigator.MaxTouchPoints > 0)
            || (navigator.msMaxTouchPoints > 0));

        var maps = JSON.parse({{ maps | tojson | safe }});
        if (maps.length > 1) {
            var mapinfoList = document.getElementById('mapinfolist');
            for (var i = 0; i < maps.length; ++i) {
                var name_and_link = maps[i];
                var opt = document.createElement("option");
                opt.value = name_and_link[1];
                opt.text = name_and_link[0];
                if (window.location.search == opt.value) {
                    opt.selected = true;
                }
                mapinfoList.add(opt);
            }
            mapinfoList.onchange = function () {
                window.location.href = mapinfoList.value;
            }
        }

        var spawnPoints = JSON.parse({{ spawn_points | tojson | safe }});
        var nextSpawnPoint = 0;

        var camera, controls, fpsControls, scene, renderer, mesh, skyMesh;
        var fpsControlsScale = 0.0001;
        var infos = ['touchinfo', 'touchinfofps', 'mouseinfo', 'mouseinfofps'];
        var lastInfoFadeTimeout;
        var inverseProjectionViewMatrix = new THREE.Matrix4();
        var wireframe = false;

        function showControlsInfo() {
            // show platform-specific info about controls and fade out after 5 seconds
            var selectedInfo = isTouchDevice ? 'touchinfo' : 'mouseinfo';
            if (!controls.enabled) selectedInfo += 'fps';
            for (var i = 0; i < infos.length; ++i) {
                if (infos[i] == selectedInfo) continue;
                var info = document.getElementById(infos[i]);
                info.style.visibility = 'hidden';
                info.style.opacity = '0';
            }
            if (lastInfoFadeTimeout) {
                window.clearTimeout(lastInfoFadeTimeout);
            }

            var info = document.getElementById(selectedInfo);
            info.style.opacity = '100';
            info.style.visibility = 'visible';
            lastInfoFadeTimeout = window.setTimeout(function () {
                info.style.opacity = '0';
            }, 5000);
        }

        function showInfo() {
            showControlsInfo();

            if (maps.length > 1) {
                document.getElementById('mapinfo').style.visibility = 'visible';
            }

            if (spawnPoints && spawnPoints.length > 0) {
                document.getElementById('spawn').onclick = function () {
                    spawn();
                    showControlsInfo();
                };
                document.getElementById('showwholemap').onclick = function () {
                    showWholeMap();
                    showControlsInfo();
                };
                document.getElementById('spawninfo').style.display = 'inline';
            }

            document.getElementById('togglewireframe').onclick = function () {
                toggleWireframe();
            };
            document.getElementById('tools').style.visibility = 'visible';
        }

        function toggleWireframe() {
            wireframe = !wireframe;
            scene.traverse(function (object) {
                if (object instanceof THREE.Mesh) {
                    object.material.wireframe = wireframe;
                }
            });
            animate();
        }

        var progress = new ProgressBar.SemiCircle('#progress', {
            color: '#ccc',
            text: {
                autoStyleContainer: false,
            },
        });

        function hideProgress() {
            var progressContainer = document.getElementById('progress');
            progressContainer.parentNode.removeChild(progressContainer);
        }

        function mapLoadProgress(frac) {
            return 0.3 + frac * 0.7;
        }

        function showWholeMap() {
            fpsControls.enabled = false;
            var bb = new THREE.Box3().setFromObject(mesh);
            var center = new THREE.Vector3();
            bb.getCenter(center);
            camera.position.copy(bb.max);
            controls.target.copy(center);
            controls.enabled = true;
            controls.update();
            if (skyMesh) skyMesh.visible = false;
            clearTarget();
            animate();
        }

        function spawn() {
            controls.enabled = false;
            var spawnPoint = spawnPoints[nextSpawnPoint];
            nextSpawnPoint = (nextSpawnPoint + 1) % spawnPoints.length;
            var pos = spawnPoint['pos'];
            var rot = spawnPoint['rot'];
            var angle = -rot[1] * Math.PI / 180.0;
            var dir = [Math.sin(angle) * fpsControlsScale, Math.cos(angle) * fpsControlsScale, 0];
            var offsetZ = 1 / 16;
            camera.position.copy(new THREE.Vector3(pos[0], pos[1], pos[2] + offsetZ));
            fpsControls.target.copy(new THREE.Vector3(pos[0] + dir[0], pos[1] + dir[1], pos[2] + offsetZ + dir[2]));
            fpsControls.enabled = true;
            fpsControls.update();
            if (skyMesh) skyMesh.visible = true;
            clearTarget();
            animate();
        }

        var progressDone = false;
        progress.setText("Loading ...");
        progress.animate(0);
        init();

        progress.animate(mapLoadProgress(0));
        const loader = new GLTFLoader();
        {% if gltfpacked %}
        loader.setMeshoptDecoder(MeshoptDecoder);
        var ktx2Loader = new KTX2Loader();
        ktx2Loader.setTranscoderPath('https://cdn.jsdelivr.net/npm/three@0.168.0/examples/jsm/libs/basis/');
        ktx2Loader.detectSupport(renderer);
        loader.setKTX2Loader(ktx2Loader);
        {% endif %}
        loader.load('{{ map_glb|safe }}',
            function (gltf) {
                loadMap(gltf);
            },
            (ev) => {
                if (ev.lengthComputable) {
                    progress.animate(mapLoadProgress(ev.loaded / ev.total));
                }
            },
            (error) => {
                progress.setText("Loading failed.");
                progress.animate(1);
                console.log(error);
                continueToNext();
            }
        );

        function loadMap(gltf) {
            mesh = gltf.scene.children[0];

            if (gltf.scene.children.length > 1) {
                skyMesh = gltf.scene.children[1];
                skyMesh.visible = false;

                var skyVertexShader = document.getElementById('skyvs').textContent;
                var skyFragmentShader = document.getElementById('skyfs').textContent;
                skyMesh.traverse(function (object) {
                    if (object instanceof THREE.Mesh) {
                        var tex = object.material.map;
                        object.material = new THREE.ShaderMaterial({
                            vertexShader: skyVertexShader,
                            fragmentShader: skyFragmentShader,
                            uniforms: {
                                u_texture: { type: 't', value: tex },
                                u_inverseProjectionViewMatrix: { value: inverseProjectionViewMatrix }
                            },
                        });
                    }
                });
            }

            scene.add(gltf.scene);

            showWholeMap();

            // render the first frame with the mesh
            animate();

            // enable user interaction now
            controls.addEventListener('change', animate);
            fpsControls.addEventListener('change', animate);
            document.addEventListener('dblclick', onDblClick, false);

            progress.animate(1, function () {
                progress.setText("Done!");
                window.setTimeout(function () {
                    progressDone = true;
                    animate(); // rerender
                }, 400);
            });
        }

        function debounce(callback, timeout) {
            var timer;
            return (...args) => {
                window.clearTimeout(timer);
                timer = window.setTimeout(() => {
                    callback(...args);
                }, timeout);
            };
        }

        function init() {
            scene = new THREE.Scene();
            scene.background = new THREE.Color(0x444444);

            renderer = new THREE.WebGLRenderer({ antialias: true, preserveDrawingBuffer: true });
            renderer.setPixelRatio(window.devicePixelRatio);
            renderer.setSize(window.innerWidth, window.innerHeight);
            document.body.appendChild(renderer.domElement);

            camera = new THREE.PerspectiveCamera(70, window.innerWidth / window.innerHeight, 0.01, 1000);
            camera.up.set(0, 0, 1);
            scene.add(camera);

            controls = new OrbitControls(camera, renderer.domElement);
            controls.enableKeys = false;
            controls.rotateSpeed = 0.25;
            controls.zoomSpeed = 0.5;

            fpsControls = new OrbitControls(camera, renderer.domElement);
            fpsControls.enableKeys = false;
            fpsControls.rotateSpeed = 0.5;
            fpsControls.enableZoom = false;
            fpsControls.enabled = false;

            if (!isTouchDevice) {
                // alt held speeds up zooming
                window.addEventListener("keyup", function (ev) {
                    if (ev.key == 'Alt') controls.zoomSpeed = 0.5;
                });
                window.addEventListener("keydown", function (ev) {
                    if (ev.key == 'Alt') controls.zoomSpeed = 2;
                });
                // allow movement by scrolling the mouse up/down for fpsControls
                renderer.domElement.addEventListener("wheel", function (ev) {
                    if (!fpsControls.enabled) return;
                    var zoomSpeed = 0.0025;
                    const forward = new THREE.Vector3();
                    camera.getWorldDirection(forward);
                    camera.position.add(forward.clone().multiplyScalar(-ev.deltaY * zoomSpeed));
                    fpsControls.target.copy(camera.position.clone().add(forward.clone().multiplyScalar(fpsControlsScale)));
                    fpsControls.update();
                    ev.preventDefault();
                });
            }

            window.addEventListener('resize', onWindowResize, false);

            // render the first frame
            animate();
        }

        function onWindowResize() {
            var width = window.innerWidth;
            var height = window.innerHeight;
            camera.aspect = width / height;
            camera.updateProjectionMatrix();
            renderer.setSize(width, height);
            animate();
        }

        var nextTarget = null;
        var scheduled = 0;
        function doUpdateTarget() {
            const maxDist = 5;

            if (nextTarget == null) {
                return;
            }

            var doneTarget = false, donePos = false;

            var delta = new THREE.Vector3;
            delta.subVectors(nextTarget, controls.target);
            if (delta.length() > 0.2) {
                delta.setLength(0.2);
            }
            else {
                doneTarget = true;
            }
            controls.target.add(delta);

            delta.subVectors(nextTarget, camera.position);
            if (delta.length() > maxDist) {
                delta.setLength(0.1);
                camera.position.add(delta);
            }
            else {
                donePos = true;
            }

            controls.update();
            animate();

            if (doneTarget && donePos) {
                nextTarget = null;
            }
            else {
                if (scheduled == 0) {
                    ++scheduled;
                    window.setTimeout(scheduledMoveToTarget, 10);
                }
            }
        }

        function scheduledMoveToTarget() {
            --scheduled;
            doUpdateTarget();
        }

        function updateTarget(pos) {
            if (!controls.enabled) return;
            nextTarget = pos;
            doUpdateTarget();
        }

        function clearTarget() {
            nextTarget = null;
        }

        function onDblClick(event) {
            var x = (event.clientX / window.innerWidth) * 2 - 1;
            var y = -(event.clientY / window.innerHeight) * 2 + 1;
            var dir = new THREE.Vector3(x, y, -1)
            dir.unproject(camera)

            var ray = new THREE.Raycaster(camera.position, dir.sub(camera.position).normalize())
            var intersects = ray.intersectObject(mesh);
            if (intersects.length > 0) {
                var first = intersects[0];
                updateTarget(first.point);
            }
        }

        function animate() {
            requestAnimationFrame(render);
        }

        function render() {
            if (progressDone) {
                progressDone = false;
                hideProgress();
                showInfo();
                takeScreenshotIfRequested();
            }
            inverseProjectionViewMatrix.copy(camera.projectionMatrix);
            inverseProjectionViewMatrix.multiply(camera.matrixWorldInverse);
            inverseProjectionViewMatrix.invert();
            renderer.render(scene, camera);
        }

        var noScreenshots = {
            487: 'https://www.massassi.net/media/levels/files/jkctf/savctf.zip',
            488: 'https://www.massassi.net/media/levels/files/jkctf/waterslidese.zip',
            729: 'https://www.massassi.net/media/levels/files/motssp/mineb.zip',
            722: 'https://www.massassi.net/media/levels/files/motssp/mnthome.zip',
            725: 'https://www.massassi.net/media/levels/files/motssp/fuelref.zip',
            719: 'https://www.massassi.net/media/levels/files/motssp/boam1.zip',
            712: 'https://www.massassi.net/media/levels/files/motssp/boam2.zip',
            735: 'https://www.massassi.net/media/levels/files/motssp/boc.zip',
            716: 'https://www.massassi.net/media/levels/files/motssp/stagingarea.zip',
            732: 'https://www.massassi.net/media/levels/files/motssp/final.zip',
            731: 'https://www.massassi.net/media/levels/files/motssp/lethal.zip',
            728: 'https://www.massassi.net/media/levels/files/motssp/lhdrkpst.zip',
            727: 'https://www.massassi.net/media/levels/files/motssp/sos.zip',
            724: 'https://www.massassi.net/media/levels/files/motssp/jkors.zip',
            736: 'https://www.massassi.net/media/levels/files/motssp/orsiv.zip',
            721: 'https://www.massassi.net/media/levels/files/motssp/hq54321.zip',
            726: 'https://www.massassi.net/media/levels/files/motssp/primakiv.zip',
            720: 'https://www.massassi.net/media/levels/files/motssp/tlc.zip',
            715: 'https://www.massassi.net/media/levels/files/motssp/trots.zip',
            717: 'https://www.massassi.net/media/levels/files/motssp/vvowse.zip',
            3: 'https://www.massassi.net/media/levels/files/jksp/darkemperor2.zip',
            15: 'https://www.massassi.net/media/levels/files/jksp/escape.zip',
            10: 'https://www.massassi.net/media/levels/files/jksp/robhome.zip',
            17: 'https://www.massassi.net/media/levels/files/jksp/colony.zip',
            26: 'https://www.massassi.net/media/levels/files/jksp/MaulJinn.zip',
            24: 'https://www.massassi.net/media/levels/files/jksp/jk_sp_lev_zela.zip',
            29: 'https://www.massassi.net/media/levels/files/jksp/kaibur.zip',
            8: 'https://www.massassi.net/media/levels/files/jksp/fo.zip',
            12: 'https://www.massassi.net/media/levels/files/jksp/pote1.zip',
            25: 'https://www.massassi.net/media/levels/files/jksp/rote.zip',
            20: 'https://www.massassi.net/media/levels/files/jksp/rote3.zip',
            9: 'https://www.massassi.net/media/levels/files/jksp/mcspaceport.zip',
            1: 'https://www.massassi.net/media/levels/files/jksp/dreaded_tower.zip',
            23: 'https://www.massassi.net/media/levels/files/jksp/ep1end.zip',
            13: 'https://www.massassi.net/media/levels/files/jksp/leiasearch.zip',
            11: 'https://www.massassi.net/media/levels/files/jksp/valleybattle.zip',
            458: 'https://www.massassi.net/media/levels/files/jkmp/ASOL.zip',
            367: 'https://www.massassi.net/media/levels/files/jkmp/ammo.zip',
            82: 'https://www.massassi.net/media/levels/files/jkmp/afact.zip',
            194: 'https://www.massassi.net/media/levels/files/jkmp/ba34.zip',
            62: 'https://www.massassi.net/media/levels/files/jkmp/landzone.zip',
            163: 'https://www.massassi.net/media/levels/files/jkmp/abrch.zip',
            274: 'https://www.massassi.net/media/levels/files/jkmp/ancient_arena.zip',
            73: 'https://www.massassi.net/media/levels/files/jkmp/ArenaOfBlood.zip',
            202: 'https://www.massassi.net/media/levels/files/jkmp/astarena.zip',
            332: 'https://www.massassi.net/media/levels/files/jkmp/troid.zip',
            406: 'https://www.massassi.net/media/levels/files/jkmp/ecmgbse.zip',
            418: 'https://www.massassi.net/media/levels/files/jkmp/grill.zip',
            1582: 'https://www.massassi.net/media/levels/files/jkmp/barebonesbespin.zip',
            369: 'https://www.massassi.net/media/levels/files/jkmp/battlegm.zip',
            281: 'https://www.massassi.net/media/levels/files/jkmp/holdbattle.zip',
            234: 'https://www.massassi.net/media/levels/files/jkmp/canyonlagunarok.zip',
            248: 'https://www.massassi.net/media/levels/files/jkmp/canoasis2.zip',
            480: 'https://www.massassi.net/media/levels/files/jkmp/coiw.zip',
            362: 'https://www.massassi.net/media/levels/files/jkmp/canyonpit.zip',
            436: 'https://www.massassi.net/media/levels/files/jkmp/canyonz.zip',
            148: 'https://www.massassi.net/media/levels/files/jkmp/dyltower.zip',
            328: 'https://www.massassi.net/media/levels/files/jkmp/chaosfor2.zip',
            291: 'https://www.massassi.net/media/levels/files/jkmp/city_night.zip',
            451: 'https://www.massassi.net/media/levels/files/jkmp/cliffhangar.zip',
            434: 'https://www.massassi.net/media/levels/files/jkmp/clocktower.zip',
            132: 'https://www.massassi.net/media/levels/files/jkmp/closequarters.zip',
            312: 'https://www.massassi.net/media/levels/files/jkmp/coldsteel1.zip',
            481: 'https://www.massassi.net/media/levels/files/jkmp/concheaven.zip',
            231: 'https://www.massassi.net/media/levels/files/jkmp/trunxconfusion.zip',
            106: 'https://www.massassi.net/media/levels/files/jkmp/controlcenter.zip',
            368: 'https://www.massassi.net/media/levels/files/jkmp/dm_arena.zip',
            338: 'https://www.massassi.net/media/levels/files/jkmp/dderelict.zip',
            354: 'https://www.massassi.net/media/levels/files/jkmp/darkpassage.zip',
            293: 'https://www.massassi.net/media/levels/files/jkmp/darktow.zip',
            69: 'https://www.massassi.net/media/levels/files/jkmp/dark_valley.zip',
            89: 'https://www.massassi.net/media/levels/files/jkmp/darnansts.zip',
            335: 'https://www.massassi.net/media/levels/files/jkmp/dayinpark.zip',
            160: 'https://www.massassi.net/media/levels/files/jkmp/jmmlc201.zip',
            385: 'https://www.massassi.net/media/levels/files/jkmp/dmfacility.zip',
            326: 'https://www.massassi.net/media/levels/files/jkmp/desertmirage.zip',
            232: 'https://www.massassi.net/media/levels/files/jkmp/destructodeath.zip',
            50: 'https://www.massassi.net/media/levels/files/jkmp/dock.zip',
            145: 'https://www.massassi.net/media/levels/files/jkmp/dodeath.zip',
            198: 'https://www.massassi.net/media/levels/files/jkmp/darthjdof.zip',
            341: 'https://www.massassi.net/media/levels/files/jkmp/earthhouse.zip',
            450: 'https://www.massassi.net/media/levels/files/jkmp/eisley.zip',
            279: 'https://www.massassi.net/media/levels/files/jkmp/empbg.zip',
            344: 'https://www.massassi.net/media/levels/files/jkmp/spacevacuum.zip',
            143: 'https://www.massassi.net/media/levels/files/jkmp/jependor.zip',
            420: 'https://www.massassi.net/media/levels/files/jkmp/evilempire.zip',
            465: 'https://www.massassi.net/media/levels/files/jkmp/Falling.zip',
            53: 'https://www.massassi.net/media/levels/files/jkmp/foreverfall.zip',
            381: 'https://www.massassi.net/media/levels/files/jkmp/fourpillars.zip',
            372: 'https://www.massassi.net/media/levels/files/jkmp/fragfest.zip',
            463: 'https://www.massassi.net/media/levels/files/jkmp/FreeFall.zip',
            296: 'https://www.massassi.net/media/levels/files/jkmp/frf.zip',
            479: 'https://www.massassi.net/media/levels/files/jkmp/fuel.zip',
            334: 'https://www.massassi.net/media/levels/files/jkmp/fuelingstation.zip',
            262: 'https://www.massassi.net/media/levels/files/jkmp/fullforceoasis.zip',
            404: 'https://www.massassi.net/media/levels/files/jkmp/ghthrone.zip',
            146: 'https://www.massassi.net/media/levels/files/jkmp/gilga.zip',
            457: 'https://www.massassi.net/media/levels/files/jkmp/Glass.zip',
            357: 'https://www.massassi.net/media/levels/files/jkmp/gempfac.zip',
            352: 'https://www.massassi.net/media/levels/files/jkmp/grassfieldgrapple.zip',
            76: 'https://www.massassi.net/media/levels/files/jkmp/grassland.zip',
            324: 'https://www.massassi.net/media/levels/files/jkmp/gunningland.zip',
            370: 'https://www.massassi.net/media/levels/files/jkmp/grev.zip',
            307: 'https://www.massassi.net/media/levels/files/jkmp/hotel2.zip',
            419: 'https://www.massassi.net/media/levels/files/jkmp/hsab.zip',
            388: 'https://www.massassi.net/media/levels/files/jkmp/hell.zip',
            264: 'https://www.massassi.net/media/levels/files/jkmp/heron.zip',
            280: 'https://www.massassi.net/media/levels/files/jkmp/hillside.zip',
            131: 'https://www.massassi.net/media/levels/files/jkmp/hc.zip',
            191: 'https://www.massassi.net/media/levels/files/jkmp/xynhovertrain.zip',
            437: 'https://www.massassi.net/media/levels/files/jkmp/railyard.zip',
            363: 'https://www.massassi.net/media/levels/files/jkmp/hot.zip',
            91: 'https://www.massassi.net/media/levels/files/jkmp/irnkickass.zip',
            65: 'https://www.massassi.net/media/levels/files/jkmp/iatl.zip',
            241: 'https://www.massassi.net/media/levels/files/jkmp/imparmory.zip',
            263: 'https://www.massassi.net/media/levels/files/jkmp/impastbase.zip',
            325: 'https://www.massassi.net/media/levels/files/jkmp/impoutpost.zip',
            421: 'https://www.massassi.net/media/levels/files/jkmp/Mall.zip',
            407: 'https://www.massassi.net/media/levels/files/jkmp/impspace.zip',
            427: 'https://www.massassi.net/media/levels/files/jkmp/dotf_volcano.zip',
            257: 'https://www.massassi.net/media/levels/files/jkmp/impmilbase.zip',
            219: 'https://www.massassi.net/media/levels/files/jkmp/incover01.zip',
            272: 'https://www.massassi.net/media/levels/files/jkmp/ironoxide.zip',
            384: 'https://www.massassi.net/media/levels/files/jkmp/jmdspace.zip',
            256: 'https://www.massassi.net/media/levels/files/jkmp/jmrk.zip',
            454: 'https://www.massassi.net/media/levels/files/jkmp/jdwel_se.zip',
            294: 'https://www.massassi.net/media/levels/files/jkmp/jk_tower.zip',
            327: 'https://www.massassi.net/media/levels/files/jkmp/repairshop.zip',
            360: 'https://www.massassi.net/media/levels/files/jkmp/JediTower2000.zip',
            189: 'https://www.massassi.net/media/levels/files/jkmp/JTC.zip',
            364: 'https://www.massassi.net/media/levels/files/jkmp/jedislair.zip',
            277: 'https://www.massassi.net/media/levels/files/jkmp/jerecbg.zip',
            313: 'https://www.massassi.net/media/levels/files/jkmp/jetforcegemini.zip',
            158: 'https://www.massassi.net/media/levels/files/jkmp/launchcross.zip',
            351: 'https://www.massassi.net/media/levels/files/jkmp/kellhell.zip',
            365: 'https://www.massassi.net/media/levels/files/jkmp/kingoftower.zip',
            456: 'https://www.massassi.net/media/levels/files/jkmp/saberpit.zip',
            371: 'https://www.massassi.net/media/levels/files/jkmp/loadoasis.zip',
            72: 'https://www.massassi.net/media/levels/files/jkmp/LongFall.zip',
            459: 'https://www.massassi.net/media/levels/files/jkmp/mstrpln.zip',
            129: 'https://www.massassi.net/media/levels/files/jkmp/moonrides.zip',
            193: 'https://www.massassi.net/media/levels/files/jkmp/morthelp.zip',
            475: 'https://www.massassi.net/media/levels/files/jkmp/MosTaari.zip',
            90: 'https://www.massassi.net/media/levels/files/jkmp/deathmatch.zip',
            228: 'https://www.massassi.net/media/levels/files/jkmp/nfl_y2k.zip',
            410: 'https://www.massassi.net/media/levels/files/jkmp/njfbowlarama.zip',
            426: 'https://www.massassi.net/media/levels/files/jkmp/nkbase.zip',
            396: 'https://www.massassi.net/media/levels/files/jkmp/nk_hideout.zip',
            337: 'https://www.massassi.net/media/levels/files/jkmp/noasis.zip',
            123: 'https://www.massassi.net/media/levels/files/jkmp/dl2.zip',
            156: 'https://www.massassi.net/media/levels/files/jkmp/nbogan.zip',
            142: 'https://www.massassi.net/media/levels/files/jkmp/necropolis.zip',
            311: 'https://www.massassi.net/media/levels/files/jkmp/night_ops.zip',
            476: 'https://www.massassi.net/media/levels/files/jkmp/9acrecourt.zip',
            144: 'https://www.massassi.net/media/levels/files/jkmp/nomadland.zip',
            55: 'https://www.massassi.net/media/levels/files/jkmp/7oasis.zip',
            121: 'https://www.massassi.net/media/levels/files/jkmp/woflandmen.zip',
            155: 'https://www.massassi.net/media/levels/files/jkmp/oldfuel.zip',
            187: 'https://www.massassi.net/media/levels/files/jkmp/oldrepbase.zip',
            119: 'https://www.massassi.net/media/levels/files/jkmp/of2.zip',
            405: 'https://www.massassi.net/media/levels/files/jkmp/padawan.zip',
            100: 'https://www.massassi.net/media/levels/files/jkmp/pa.zip',
            127: 'https://www.massassi.net/media/levels/files/jkmp/potmoasis.zip',
            258: 'https://www.massassi.net/media/levels/files/jkmp/tp_training.zip',
            162: 'https://www.massassi.net/media/levels/files/jkmp/quaintcabin.zip',
            284: 'https://www.massassi.net/media/levels/files/jkmp/bimplogada.zip',
            438: 'https://www.massassi.net/media/levels/files/jkmp/repdance.zip',
            101: 'https://www.massassi.net/media/levels/files/jkmp/riza.zip',
            271: 'https://www.massassi.net/media/levels/files/jkmp/rokked.zip',
            460: 'https://www.massassi.net/media/levels/files/jkmp/sear.zip',
            292: 'https://www.massassi.net/media/levels/files/jkmp/sgc_sabershaft.zip',
            473: 'https://www.massassi.net/media/levels/files/jkmp/saberduelarenas.zip',
            115: 'https://www.massassi.net/media/levels/files/jkmp/saberzonly.zip',
            224: 'https://www.massassi.net/media/levels/files/jkmp/satc46.zip',
            56: 'https://www.massassi.net/media/levels/files/jkmp/BLooD.zip',
            469: 'https://www.massassi.net/media/levels/files/jkmp/shattered.zip',
            401: 'https://www.massassi.net/media/levels/files/jkmp/shinraoasis2.zip',
            222: 'https://www.massassi.net/media/levels/files/jkmp/shinoffice.zip',
            154: 'https://www.massassi.net/media/levels/files/jkmp/shipwreckisel.zip',
            52: 'https://www.massassi.net/media/levels/files/jkmp/Sith_Ruins.zip',
            314: 'https://www.massassi.net/media/levels/files/jkmp/sithtwins.zip',
            387: 'https://www.massassi.net/media/levels/files/jkmp/skyfight.zip',
            331: 'https://www.massassi.net/media/levels/files/jkmp/skyhi.zip',
            153: 'https://www.massassi.net/media/levels/files/jkmp/thskystation.zip',
            355: 'https://www.massassi.net/media/levels/files/jkmp/skydive_part1.zip',
            237: 'https://www.massassi.net/media/levels/files/jkmp/slaughterfalls.zip',
            151: 'https://www.massassi.net/media/levels/files/jkmp/stown.zip',
            343: 'https://www.massassi.net/media/levels/files/jkmp/sgc_hideout.zip',
            223: 'https://www.massassi.net/media/levels/files/jkmp/shv21.zip',
            116: 'https://www.massassi.net/media/levels/files/jkmp/sorcerer.zip',
            478: 'https://www.massassi.net/media/levels/files/jkmp/spacelodge.zip',
            152: 'https://www.massassi.net/media/levels/files/jkmp/imastone.zip',
            230: 'https://www.massassi.net/media/levels/files/jkmp/stonetemple.zip',
            87: 'https://www.massassi.net/media/levels/files/jkmp/sotf.zip',
            431: 'https://www.massassi.net/media/levels/files/jkmp/ais_jk.zip',
            120: 'https://www.massassi.net/media/levels/files/jkmp/tehpack.zip',
            416: 'https://www.massassi.net/media/levels/files/jkmp/tsmffa.zip',
            276: 'https://www.massassi.net/media/levels/files/jkmp/tannhomestead.zip',
            157: 'https://www.massassi.net/media/levels/files/jkmp/tatmountain.zip',
            226: 'https://www.massassi.net/media/levels/files/jkmp/jundlandwaste.zip',
            482: 'https://www.massassi.net/media/levels/files/jkmp/temple.zip',
            147: 'https://www.massassi.net/media/levels/files/jkmp/zai-djuric.zip',
            283: 'https://www.massassi.net/media/levels/files/jkmp/tempsithdead.zip',
            319: 'https://www.massassi.net/media/levels/files/jkmp/abyss.zip',
            382: 'https://www.massassi.net/media/levels/files/jkmp/airduct.zip',
            92: 'https://www.massassi.net/media/levels/files/jkmp/djjanlvlpack.zip',
            477: 'https://www.massassi.net/media/levels/files/jkmp/skyhouse.zip',
            409: 'https://www.massassi.net/media/levels/files/jkmp/bored.zip',
            356: 'https://www.massassi.net/media/levels/files/jkmp/lb.zip',
            149: 'https://www.massassi.net/media/levels/files/jkmp/thecapital.zip',
            150: 'https://www.massassi.net/media/levels/files/jkmp/the_fallen_1.zip',
            79: 'https://www.massassi.net/media/levels/files/jkmp/complex.zip',
            39: 'https://www.massassi.net/media/levels/files/jkmp/complexse.zip',
            453: 'https://www.massassi.net/media/levels/files/jkmp/funky.zip',
            174: 'https://www.massassi.net/media/levels/files/jkmp/invasi40.zip',
            196: 'https://www.massassi.net/media/levels/files/jkmp/elymuseum.zip',
            321: 'https://www.massassi.net/media/levels/files/jkmp/jediclubhouse.zip',
            159: 'https://www.massassi.net/media/levels/files/jkmp/kamiya.zip',
            267: 'https://www.massassi.net/media/levels/files/jkmp/matrixlvl.zip',
            140: 'https://www.massassi.net/media/levels/files/jkmp/nightmp1.zip',
            201: 'https://www.massassi.net/media/levels/files/jkmp/scither.zip',
            350: 'https://www.massassi.net/media/levels/files/jkmp/mako.zip',
            336: 'https://www.massassi.net/media/levels/files/jkmp/vulcanis.zip',
            266: 'https://www.massassi.net/media/levels/files/jkmp/sithtemple.zip',
            340: 'https://www.massassi.net/media/levels/files/jkmp/marktemple.zip',
            303: 'https://www.massassi.net/media/levels/files/jkmp/xylia.zip',
            118: 'https://www.massassi.net/media/levels/files/jkmp/3towers.zip',
            373: 'https://www.massassi.net/media/levels/files/jkmp/timetravel.zip',
            301: 'https://www.massassi.net/media/levels/files/jkmp/timetravelnar.zip',
            391: 'https://www.massassi.net/media/levels/files/jkmp/training.zip',
            386: 'https://www.massassi.net/media/levels/files/jkmp/Battle.zip',
            474: 'https://www.massassi.net/media/levels/files/jkmp/valleycatacombs.zip',
            320: 'https://www.massassi.net/media/levels/files/jkmp/smallvillage.zip',
            411: 'https://www.massassi.net/media/levels/files/jkmp/warfare.zip',
            109: 'https://www.massassi.net/media/levels/files/jkmp/wkws1.zip',
            233: 'https://www.massassi.net/media/levels/files/jkmp/y2kgrounds.zip',
            811: 'https://www.massassi.net/media/levels/files/motsmp/ais.zip',
            789: 'https://www.massassi.net/media/levels/files/motsmp/assassins.zip',
            801: 'https://www.massassi.net/media/levels/files/motsmp/ashideout.zip',
            804: 'https://www.massassi.net/media/levels/files/motsmp/bgj_mots.zip',
            817: 'https://www.massassi.net/media/levels/files/motsmp/rockies.zip',
            803: 'https://www.massassi.net/media/levels/files/motsmp/ralecus.zip',
            805: 'https://www.massassi.net/media/levels/files/motsmp/dockingbay.zip',
            810: 'https://www.massassi.net/media/levels/files/motsmp/duelfates.zip',
            806: 'https://www.massassi.net/media/levels/files/motsmp/platform.zip',
            781: 'https://www.massassi.net/media/levels/files/motsmp/darkvegita.zip',
            799: 'https://www.massassi.net/media/levels/files/motsmp/attic3.zip',
            813: 'https://www.massassi.net/media/levels/files/motsmp/islandoutpost.zip',
            744: 'https://www.massassi.net/media/levels/files/motsmp/jk.zip',
            788: 'https://www.massassi.net/media/levels/files/motsmp/saberbat.zip',
            782: 'https://www.massassi.net/media/levels/files/motsmp/sithmuseum.zip',
            798: 'https://www.massassi.net/media/levels/files/motsmp/pirateoutpost.zip',
            742: 'https://www.massassi.net/media/levels/files/motsmp/RSW2.zip',
            822: 'https://www.massassi.net/media/levels/files/motsmp/rakkisimperialbase.zip',
            773: 'https://www.massassi.net/media/levels/files/motsmp/saberpad.zip',
            745: 'https://www.massassi.net/media/levels/files/motsmp/skyduel.zip',
            774: 'https://www.massassi.net/media/levels/files/motsmp/smugencamp.zip',
            816: 'https://www.massassi.net/media/levels/files/motsmp/ssf.zip',
            756: 'https://www.massassi.net/media/levels/files/motsmp/trcc.zip',
            808: 'https://www.massassi.net/media/levels/files/motsmp/danger.zip',
            778: 'https://www.massassi.net/media/levels/files/motsmp/kna.zip',
            771: 'https://www.massassi.net/media/levels/files/motsmp/senatemansion.zip',
            755: 'https://www.massassi.net/media/levels/files/motsmp/starrunner.zip',
            772: 'https://www.massassi.net/media/levels/files/motsmp/tower_hideout.zip',
            784: 'https://www.massassi.net/media/levels/files/motsmp/stg.zip',
            786: 'https://www.massassi.net/media/levels/files/motsmp/watsab.zip',
            768: 'https://www.massassi.net/media/levels/files/motsmp/waterways.zip',
            741: 'https://www.massassi.net/media/levels/files/motsmp/_SAS_Cargo.zip',
            825: 'https://www.massassi.net/media/levels/files/motsmp/deathfan.zip',
        };

        function screenshotThenContinue(key, url) {
            camera.aspect = 800 / 600;
            camera.updateProjectionMatrix();
            renderer.setSize(800, 600);

            var done = 0;
            for (var s = 0; s < spawnPoints.length; ++s) {
                function blobHandler(filename) {
                    return function (blob) {
                        var body = new FormData();
                        body.append('file', blob, filename);
                        fetch('/screenshot/', { method: "POST", body })
                            .then(response => {
                                done++;
                                if (done == spawnPoints.length) {
                                    console.log('Continuing to ' + url);
                                    window.location = url;
                                    return;
                                }
                            });
                    };
                }
                var filename = key + '_' + (s+1) + '.jpg';
                spawn();
                render();
                renderer.domElement.toBlob(blobHandler(filename), 'image/jpeg');
            }
        }

        function takeScreenshotIfRequested() {
            var urlParams = new URLSearchParams(window.location.search);
            var noScreenshotIndex = urlParams.get('noscr')
            if (noScreenshotIndex != null) {
                noScreenshotIndex = parseInt(noScreenshotIndex);
                var keys = Object.keys(noScreenshots);
                var key = keys[noScreenshotIndex]
                if (urlParams.get('url') != noScreenshots[key]) {
                    var correctUrl = '/level/?url=' + noScreenshots[key] + '&noscr=' + noScreenshotIndex;
                    console.log('Navigating to ' + correctUrl);
                    window.location = correctUrl;
                } else {
                    var nextKey = keys[noScreenshotIndex + 1]
                    var nextUrl = '/level/?url=' + noScreenshots[nextKey] + '&noscr=' + (noScreenshotIndex + 1);
                    screenshotThenContinue(key, nextUrl);
                }
            }
        }

        function continueToNext() {
            var urlParams = new URLSearchParams(window.location.search);
            var noScreenshotIndex = urlParams.get('noscr')
            if (noScreenshotIndex != null) {
                noScreenshotIndex = parseInt(noScreenshotIndex);
                var keys = Object.keys(noScreenshots);
                var key = keys[noScreenshotIndex]
                var nextKey = keys[noScreenshotIndex + 1]
                var nextUrl = '/level/?url=' + noScreenshots[nextKey] + '&noscr=' + (noScreenshotIndex + 1);
                window.location = nextUrl;
            }
        }
    </script>

</body>

</html>